<p id="notice"><%= notice %></p>

<p>
  <strong>Cantidad:</strong>
  <%= @breatsfeeding.cantidad %>
</p>

<p>
  <strong>Baby:</strong>
  <%= @breatsfeeding.baby %>
</p>

<%= link_to 'Edit', edit_baby_breatsfeeding_path(@breatsfeeding) %> |
<%= link_to 'Back', babies_path %>